<div class="row" style="text-align: center" >
  <div class="col text-center" >
    <h1 style="text-align: center ">{{cookie.name}}</h1>
    <div class="row" style="display: block; margin: auto">
    </div>
    <div class="row" style="display: block; margin: auto" >
       Expiration {{cookie.expires}}
    </div>
    <div class="row" style="display: block; margin: auto" >
       Appartient à : {{cookie.domain}}
    </div>
    <div class="row" style="display: block; margin: auto" >
      norme httpOnly : {{isSecure()}}
    </div>

<!--    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">-->
<!--      <p style="color: white">Analyse en Cours.. </p>-->
<!--    </ngx-spinner>-->
  </div>
</div>
